.language-img {
    max-width: 100px;
}

.black-border {
    filter: drop-shadow(1.5px 0 0 #000) 
            drop-shadow(0 1.5px 0 #000)
            drop-shadow(-1.5px 0 0 #000) 
            drop-shadow(0 -1.5px 0 #000)
}

.white-border {
    filter: drop-shadow(3px 0 0 #fff) 
            drop-shadow(0 3px 0 #fff)
            drop-shadow(-3px 0 0 #fff) 
            drop-shadow(0 -3px 0 #fff)
}